src/*.exe
src/mngcoin
src/mngcoind
src/test_mngcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.mngcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
mngcoin-qt
Mngcoin-Qt.app

# Unit-tests
Makefile.test
mngcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
